[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"

[merge]
    tool = meld
[mergetool "meld"]
    cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"

[url "git@github.com:"]
    pushInsteadOf = git://github.com/
    pushInsteadOf = http://github.com/
    pushInsteadOf = https://github.com/

[hub]
	protocol = https

[core]
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
    pager = delta --highlight-removed --dark --theme="zenburn" --plus-color="#1F2E1F" --plus-emph-color="#507350" --minus-color="#2E0F0F" --minus-emph-color="#732222"