[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"

[merge]
    tool = meld
[mergetool "meld"]
    cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"

[url "git@github.com:"]
    pushInsteadOf = git://github.com/
    pushInsteadOf = http://github.com/
    pushInsteadOf = https://github.com/

[hub]
	protocol = https

[core]
    pager = delta --dark --theme="zenburn"